// color
// $black : #343a40;
$black : #444;
$black2 : #707070;

$white: #fff;
$white2: #f0f0f0;
$white3:#f7f7f7;

$gray: #ddd;
$gray1: #ccc;
$gray2: #eaeaea;
$gray3: #dbdbdb;
// $gray3: #f7f7f7;
$gray4: #999;
$gray5: rgb(0 0 0 / 7%);
$gray6: #c4c4c4;

$blue: #3b7ddd ;
$blue2:#155bc5;
$blue3: #97a6c0;
$blue4:#007bff;
$blue5: rgb(209 220 240 / 20%);

$navy: #003876;
$red: #dc3545;
$pink: #ff416c;
$orange: #fd7e14;
$orange2: #fd7d14e8;
$yellow: #ffdb3e;
$green: #28a745;
$green2: #00696d;
$green3: rgb(0 105 109 / 80%);


// shadow
$shadow: 0px 3px 10px rgb(0 0 0 / 10%);