@charset "utf-8";
@import '_variables', '_mixin';

.dark-mode{
  body{color: $white;}
  svg{fill: $white;}
  .hd{
    background-color: $black3;
  }
  .side-nav{
    background-color: $black3;
  }
  .subPage{
    background-color: $black3;
  }
  .card-list{
    .card{
      background-color: #2e343a;
    }
  }
}